* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.header {
    background-color: black;
    max-width: auto;
    padding: 0 20px;
    margin: 0 auto;
}

.fixed-container {
    padding-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 5px;
    max-width: auto;
    margin: 0 auto;
    font-weight: bold;
    align-content: center;
}

.menu-container {
    display: flex;
    justify-content: space-between;
}

.logo-container {
    font-size: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.name-hobby {
    font-size: 45px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.menu {
    display: flex;
    padding: 15px 0 0 10px;
    align-items: center;
    vertical-align: center;

}

nav ul li {
    text-transform: uppercase;
    font-size: 24px;
}

nav ul li a {
    margin-right: 40px;
    font-weight: bolder;
    vertical-align: middle;
    font-size: 28px;
    color: white;
    letter-spacing: 2px;
}

nav ul li a:hover {
    color: #c4864c;
}

.section-container {
    display: flex;
    justify-content: space-around;
}

.my-photo {
    padding-bottom: 50px;
    left: 650px;
    width: 40%;
    height: 40%;
    float: left;
    margin: 5px 45px 5px 0;
}

.text-about-hobby {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.footer-class {
    padding-top: 3rem;
    padding-bottom: 3rem;
    --bs-bg-opacity: 1;
    background-color: black;

}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.copyright {
    margin: 0;
    color: white;
    font-size: 25px;
    text-align: center;

}
