.navigation {
    float: contour;
    height: 800%;

}

.navigation a {
    height: 1000%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color: #101010;
}

.navigation a li {
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover {
    background-color: gray;
    color: #101010;
}

.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid #010a13;
    background-color: black;
}

.logo-container {
    text-line-through-color: white;

}

.inner-header {

}

.content {

}